:root {
  --font-sans: "Readex Pro","sans-serif";
  --font-serif: "PT Serif",serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-small: calc( var(--font-base) / var(--font-scale));
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --letter-spacing: 0.1em;
  --color-accent: #00cec6;
  --color-light: #fff;
  --color-grey-100: #262626;
  --color-grey-200: #333;
  --color-grey-300: #6a6a6a;
  --color-grey-400: #979797;
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --section-gap-inner-small: calc( var(--section-gap) * 0.5);
  --grid-gap: 3rem;
  --gap-small: 1rem;
  --gap-medium: 2rem;
  --gap-large: 3rem;
  --gap-xl: 4rem;
  --page-width: 78rem;
  --page-padding: 3rem;
  --content-width: 55rem;
  --content-width-small: 40rem;
  --menu-height: 110px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0,var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: repeat(12, 1fr);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  color: var(--color-light);
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 400;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, a, li {
  line-height: 1.5;
  font-family: var(--font-sans);
}

a {
  color: var(--color-grey-400);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: var(--color-light);
}

.header {
  height: var(--menu-height);
  display: grid;
  grid-template-columns: var(--grid-container);
  position: fixed;
}
.header__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  display: flex;
  align-items: center;
}

.cart {
  background-color: var(--color-grey-300);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 700;
  padding: 1rem 2rem;
  font-size: var(--font-size-small);
  position: relative;
}
.cart:hover {
  background-color: var(--color-grey-400);
}
.cart__counter {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--color-accent);
  border-radius: 50px;
  line-height: 24px;
  text-align: center;
  right: 0;
  bottom: -11px;
}

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 350px 1fr;
}

.sidebar {
  background-color: var(--color-grey-100);
}

.content {
  background-color: var(--color-grey-200);
  overflow: auto;
}

.sidebar {
  padding: 3rem 4rem 4rem 4rem;
  display: grid;
}
.sidebar__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sidebar__back {
  font-size: var(--font-size-small);
  position: absolute;
  left: var(--gap-large);
  max-width: 300px;
}
.sidebar__back svg {
  margin-right: 0.5rem;
}

.product-sidebar__title {
  margin: 0 0 1rem 0;
  font-size: var(--font-size-4);
}
.product-sidebar__subtitle {
  font-size: var(--font-size-small);
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: var(--color--grey-400);
  font-weight: 700;
}
.product-sidebar__price {
  font-size: var(--font-size-4);
  font-weight: 700;
}
.product-sidebar__colors {
  margin-top: 5rem;
}
.product-sidebar__quantity {
  margin-top: 4rem;
}

.colors {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.colors__item {
  margin-right: 7px;
}
.colors__item:last-of-type {
  margin-right: 0;
}
.colors__item--active button {
  opacity: 1;
}
.colors__item--active button::before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background: url(assets/icons/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.colors__button {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-light);
  background-color: var(--color--grey-200);
  opacity: 0.4;
  transition: opacity 0.2s;
  cursor: pointer;
}
.colors__button:hover {
  opacity: 1;
}
.colors__button--yellow {
  background-color: #eeb826;
}
.colors__button--green {
  background-color: #06a07d;
}
.colors__button--pink {
  background-color: #d80cb8;
}
.colors__button--red {
  background-color: #ff0000;
}

.quantity__input {
  background-color: var(--color-grey-200);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--color-light);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: var(--font-sans);
  border-radius: 0;
  text-align: center;
}
.quantity__input::-webkit-outer-spin-button, .quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__input[type=number] {
  -moz-appearance: textfield;
}
.quantity__less {
  background-color: var(--color-grey-200);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--color-grey-400);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: var(--font-sans);
  border-radius: 30px 0 0 30px;
}
.quantity__less::-webkit-outer-spin-button, .quantity__less::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__less[type=number] {
  -moz-appearance: textfield;
}
.quantity__more {
  background-color: var(--color-grey-200);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--color-grey-400);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: var(--font-sans);
  border-radius: 0 30px 30px 0;
}
.quantity__more::-webkit-outer-spin-button, .quantity__more::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__more[type=number] {
  -moz-appearance: textfield;
}

.add-to-cart {
  background-color: var(--color-accent);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  font-size: var(--font-size-1);
  padding: 1.5rem 3rem;
}
.add-to-cart:hover {
  background-color: var(--color-grey-400);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu__item {
  margin-right: var(--gap-large);
}
.menu__item:last-of-type {
  margin-right: 0;
}

.menu-button {
  width: 21px;
  height: 21px;
  position: relative;
  padding: 0;
  border: 0;
  display: block;
  background: none;
  margin-left: 2rem;
}
.menu-button__hamburger {
  background-color: var(--color-grey-400);
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.menu-button__hamburger::before, .menu-button__hamburger::after {
  content: "";
  background-color: var(--color-grey-400);
  height: 2px;
  width: 100%;
  position: absolute;
  top: 7px;
  left: 0;
}
.menu-button__hamburger::after {
  top: -7px;
}

.product {
  height: 100vh;
  display: grid;
  width: 100%;
  position: relative;
}
.product__inner {
  display: grid;
  margin-top: var(--menu-height);
  margin-bottom: var(--gap-xl);
}
.product__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__bgtext {
  position: absolute;
  font-size: 7.5vw;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-grey-100);
  text-align: center;
}
.product__image {
  position: relative;
}
.product__image img {
  max-height: 80vh;
}
.product .swiper {
  width: 100%;
}
.product .swiper-slide {
  overflow: hidden;
}
.product .swiper-pagination {
  text-align: left;
  left: var(--gap-large);
  bottom: 0;
  --swiper-pagination-bullet-size: 11px;
  --swiper-pagination-bullet-inactive-color: var(--color-grey-100) ;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: var(--color-light) ;
}
.product .swiper__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-70px);
  left: var(--gap-large);
  z-index: 2;
  cursor: pointer;
}
.product .swiper__arrow--next {
  left: auto;
  right: var(--gap-large);
}

/*# sourceMappingURL=style.css.map */
