:root {
  --font-sans: "Readex Pro","sans-serif";
  --font-serif: "PT Serif",serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-small: calc( var(--font-base) / var(--font-scale));
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --letter-spacing: 0.1em;
  --color-accent: #00cec6;
  --color-light: #fff;
  --color-grey-100: #262626;
  --color-grey-200: #333;
  --color-grey-300: #6a6a6a;
  --color-grey-400: #979797;
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --section-gap-inner-small: calc( var(--section-gap) * 0.5);
  --grid-gap: 3rem;
  --gap-small: 1rem;
  --gap-medium: 2rem;
  --gap-large: 3rem;
  --gap-xl: 4rem;
  --page-width: 78rem;
  --page-padding: 30px;
  --content-width: 55rem;
  --content-width-small: 40rem;
  --menu-height: 110px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0,var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: repeat(12, 1fr);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  color: var(--color-light);
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 400;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, a, li {
  line-height: 1.5;
  font-family: var(--font-sans);
}

a {
  color: var(--color-grey-400);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: var(--color-light);
}

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 350px 1fr;
}

.sidebar {
  background-color: var(--color-grey-100);
}

.content {
  background-color: var(--color-grey-200);
  overflow: auto;
}

.sidebar {
  padding: 3rem 4rem 4rem 4rem;
  display: grid;
}
.sidebar__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sidebar__back {
  font-size: var(--font-size-small);
}

.product-sidebar__title {
  margin: 0 0 1rem 0;
  font-size: var(--font-size-4);
}
.product-sidebar__price {
  font-size: var(--font-size-4);
  font-weight: 700;
}

.add-to-cart {
  background-color: var(--color-accent);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--font-size-1);
  padding: 1.5rem 3rem;
}
.add-to-cart:hover {
  background-color: var(--color-grey-400);
}

/*# sourceMappingURL=style.css.map */
