
@mixin standard(
    $background: var(--color-accent), 
    $color: var(--color-light), 
    $border-radius: 10px, 
    $hover: var(--color-grey-400),
    $size: small
    ) {

    background-color: $background;
    color: $color;
    display: inline-block;
    text-decoration: none;
    border-radius: $border-radius;
    font-family: var(--font-sans);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    border: 0;
    cursor: pointer;
    white-space: nowrap;
    
    &:hover {
        background-color: $hover;
    }
    
    @if $size == small {
        font-weight: 700;
        padding: 1rem 2rem;
        font-size: var(--font-size-small);
    } @else {
        font-weight: 600;
        font-size: var(--font-size-1);
        padding: 1.5rem 3rem;
    }
}