@mixin input(
    $border-radius: 0,
    $color: var(--color-light),
    $bg: var(--color-grey-200),
) {
    background-color: $bg;
    font-size: var(--font-size-1);
    font-weight: 700;
    color: $color;
    padding: 0.5rem 1rem;
    border: 0;
    font-family: var(--font-sans);
    border-radius: $border-radius;
}