.product {
    height: 100vh;
    display: grid;
    width: 100%;
    position: relative;

    &__inner {
        display: grid;
        margin-top: var(--menu-height);
        margin-bottom: var(--gap-xl);
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bgtext {
        position: absolute;
        font-size: 7.5vw;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-grey-100);
        text-align: center;
        opacity: 0.6;
    }

    &__image {
        position: relative;

        img {
            max-height: 80vh;
        }
    }

    &__share {
        position: absolute;
        right: var(--gap-large);
        bottom: var(--gap-xl);
        font-size: var(--font-size-small);
        z-index: 2;
    }

    .swiper {
        width: 100%;

        &-slide {
            overflow: hidden;
        }

        &-pagination {
            text-align: left;
            left: var(--gap-large);
            bottom: 0;

            --swiper-pagination-bullet-size: 11px;
            --swiper-pagination-bullet-inactive-color: var(--color-grey-100) ;
            --swiper-pagination-bullet-inactive-opacity: 1;
            --swiper-pagination-color: var(--color-light) ;
        }

        &__arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-70px);
            left: var(--gap-large);
            z-index: 2;
            cursor: pointer;
        }

        &__arrow--next {
            left: auto;
            right: var(--gap-large);
        }
    }
}
