.product {
    height: 100vh;
    display: grid;
    width: 100%;

    &__inner {
        display: grid;
        background-color: lightblue;
        margin-top: var(--menu-height);
    }

    .swiper {
        width: 100%;
    }
}
