
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &__item {
        margin-right: var(--gap-large);
        &:last-of-type{
            margin-right: 0;
        }
    }
}

.menu-button {
    width: 21px;
    height: 21px;
    position: relative;
    padding: 0;
    border: 0;
    display: block;
    background: none;
    margin-left: 2rem;

    &__hamburger {
        background-color: var(--color-grey-400) ;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &::before, &::after {
            content: '';
            background-color: var(--color-grey-400) ;
            height: 2px;
            width: 100%;
            position: absolute;
            top: 7px;
            left: 0;
        }

        &::after{
            top: -7px;
        }
    }
}