@use '../components/buttons' as button;
@use '../tools/colors' as color;
@use '../components/form';

.sidebar {
    padding: 3rem 4rem 4rem 4rem;
    display: grid;
    
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__back {
        font-size: var(--font-size-small);
        position: absolute;
        left: var(--gap-large); 
        max-width: 300px;

        svg {
            margin-right: 0.5rem;
        }
    }


}

//product sidebar

.product-sidebar {

    &__title {
        margin: 0 0 1rem 0;
        font-size: var(--font-size-4);
    }

    &__subtitle {
        font-size: var(--font-size-small);
        font-family: var(--font-sans);
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing);
        color: var(--color--grey-400);
        font-weight: 700;
    }

    &__price {
        font-size: var(--font-size-4);
        font-weight: 700;
    }

    &__colors {
        margin-top: 5rem;
    }

    &__quantity {
        margin-top: 4rem;
    }
}

.colors {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;


    &__item {
        margin-right: 7px;

        &:last-of-type {
            margin-right: 0;
        }

        &--active {
            button {
                opacity: 1;

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 12px;
                    background: url(assets/icons/icon-checkmark.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    &__button {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid var(--color-light);
        background-color: var(--color--grey-200);
        opacity: 0.4;
        transition: opacity 0.2s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &--yellow {
            background-color: color.$yellow;
        }

        &--green {
            background-color: color.$green;
        }

        &--pink {
            background-color: color.$pink;
        }

        &--red {
            background-color: color.$red;
        }
    }
}

.quantity {
     &__form{

     }

     &__input{
         @include form.input();
         text-align: center;
     }

     &__less {
         @include form.input(
             $border-radius: 30px 0 0 30px, 
             $color: var(--color-grey-400)
             );
     }

     &__more{
         @include form.input(
             $border-radius: 0 30px 30px 0, 
             $color: var(--color-grey-400)
             );
     }
}

.add-to-cart {
    @include button.standard($border-radius: 50px, $size: large);
}